backups
thumbs
games
url
tramp
archive-contents
RFC/*

# git rm -f .eshell/history && touch .eshell/history
.eshell/history
.eshell/lastdir
emacs-starter-kit/places

session.*
*.elc
*.py[co]
*~
*.dat
*.cache
\#*
